/* Common styles */
:root {
  /*Colors*/
  --color-contrast: #ffffff;
  --color-contrast-light: #eeeeeedd;
  --color-contrast-mid: #d79f4f;
  --color-contrast-dark: #000000dd;

  --color-main: #1956d1;
  --color-main-light: #387aff;
  --color-main-dark: #083285;
  --color-accent: #10c1de;

  --color-secondary: #8ed104;
  --color-teritary: #d1472e;
  --color-shadow-light: #ffffffaa;
  --color-shadow-dark: #000000dd;

  /*Dimensions*/
  --carousel-item-width: 20vh;

  --button-width-sm: 1em;
  --button-width-md: 2.5em;
  --button-width-lg: 5em;

  --font-size-xxs: 0.8rem;
  --font-size-xs: 1.0rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2rem;

  --padding-xxxs: 0.2em;
  --padding-xxs: 0.5em;
  --padding-xs: 1em;
  --padding-sm: 2em;
  --padding-md: 3em;
  --padding-lg: 5em;

  --filling-w-sm: 5vw;
  --filling-w-md: 15vw;
  --filling-w-lg: 20vw;
  --filling-h-sm: 5vh;
  --filling-h-md: 15vh;
  --filling-h-lg: 20vh;

  --radius-curve-sm: 2em;
  --radius-curve-md: 5em;
  --radius-curve-md: 7em;

  --scroll-progress-sm: 0.6em;
  --scroll-progress-lg: 0.9em;
}

.bg-color-main {
  background-color: var(--color-main);
}
.bg-color-main-light {
  background-color: var(--color-main-light);
}
.bg-color-main-dark {
  background-color: var(--color-main-dark);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}
.bg-color-teritary {
  background-color: var(--color-teritary);
}
.bg-color-accent {
  background-color: var(--color-accent);
}

.fg-color-main {
  color: var(--color-main);
}
.fg-color-main-light {
  color: var(--color-main-light);
}
.fg-color-main-dark {
  color: var(--color-main-dark);
}
.fg-color-secondary {
  color: var(--color-secondary);
}
.fg-color-teritary {
  color: var(--color-teritary);
}
.fg-color-accent {
  color: var(--color-accent);
}

/* ELEMENT STYLES */

/* Default style on all elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  color: var(--color-contrast-light);
}

body {
  width: 100%;
  /* height: 100vh; */
}

header,
section,
div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header,
section,
.section {
  width: 100%;
  padding: var(--filling-h-sm) 0;
}
header {
  height: 100vh;
  justify-content: space-between;
  background: radial-gradient(
    circle at bottom,
    var(--color-main),
    var(--color-main-dark)
  );
  background-repeat: no-repeat;
}
section,
.section {
  min-height: 50vh;
}

/* Class styles */
.container-fluid,
.row {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-lg-3 {
  width: 20vw;
  justify-content: start;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  min-width: 100vw;
  padding: 0 var(--padding-sm);
  z-index: 1;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-height: 5vh;
}
.navbar-nav li a {
  padding: var(--padding-xxs) var(--padding-sm);
  font-size: var(--font-size-sm);
  width: 10vw;
  margin: 0 0 0 calc(-1.1 * var(--padding-sm));
}
.navbar-nav li a:hover {
  padding: var(--padding-xxs) var(--padding-md) var(--padding-xxs)
    var(--padding-sm);
}

.container {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#about .container .description > *:not(hr) {
  margin: var(--padding-xs) 0;
}

.parallax-skills {
  min-height: 100vh;
  max-height: 100vh;
}

#skills {
  min-height: 100vh;
  max-height: 100vh;
}

.skill-pair {
  max-height: 30vh;
}

#services .service-box {
  padding: 0 var(--padding-xs);
}
#services .service-box h3 {
  padding: var(--padding-xxs) 0;
}

#skills .container {
  justify-content: space-between;
}

#services .row {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-md) 0 0 0;
}

#contact .row {
  padding: var(--padding-md) 0 0 0;
}

.contact-message {
  margin: 0 auto;
}

.contact-link a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: wrap;
  min-width: 20vw;
  margin: 0 var(--padding-sm);
}

.header-content {
  align-self: center;
  align-content: center;
  padding: var(--filling-h-sm) 0;
}

.header-content h1 {
  margin: var(--padding-xs) 0 0 0;
}

.shape-leaf {
  box-sizing: content-box;
  border-bottom-right-radius: var(--radius-curve-md);
  border-top-left-radius: var(--radius-curve-md);
  padding: var(--padding-md) var(--filling-w-lg);
  box-shadow: 0 0 18px -5px var(--color-shadow-dark);
}

.shape-leaf-inv {
  box-sizing: content-box;
  border-bottom-left-radius: var(--radius-curve-md);
  border-top-right-radius: var(--radius-curve-md);
  padding: var(--padding-md) var(--filling-w-lg);
  box-shadow: 0 0 18px -5px var(--color-shadow-dark);
}

.offset-left {
  left: -5vw;
  position: relative;
}
.offset-right {
  left: 5vw;
  position: relative;
}
.offset-up {
  top: -3vh;
  position: relative;
}
.offset-down {
  top: 1vw;
  position: relative;
}

.carousel {
  /* background-color: var(--color-shadow-dark); */
  padding: var(--padding-sm) 0 0 0;
}

.flick-carousel-viewport {
  min-height: 25vh !important;
  height: 25vh !important;
}

.carousel-item {
  height: var(--carousel-item-width);
  width: var(--carousel-item-width);

  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: var(--carousel-item-width);
  background-color: var(--color-contrast-light);
}

.carousel-item img {
  max-width: 80%;
  max-height: 80%;
  padding: var(--padding-xs);
  margin: auto;
  pointer-events: none;
}

.shadow-light {
  box-shadow: 0 0 18px -5px var(--color-shadow-light);
}

.shadow-dark {
  box-shadow: 0 0 18px -5px var(--color-shadow-dark);
}

.round-img {
  border-radius: 10vh;
}

.progress {
  position: relative;
  width: 40vw;
  height: var(--scroll-progress-sm);
  border-bottom-right-radius: var(--radius-curve-md);
  border-top-left-radius: var(--radius-curve-md);
  background-color: var(--color-contrast);
  margin: var(--padding-sm) auto 0 auto;
  overflow: hidden;
}
.bar {
  position: relative;
  height: 100%;
  width: 0;
  border-radius: inherit;
  background-color: var(--color-main-light);
}

.ripple-div {
  /* background-color: #1b1b1b; */
  /* position: absolute;
  width: 100%;
  height: 100%; */
  /* overflow: visible; */
}

.ripple-div > * {
  pointer-events: none;
}

.ripple-div-ball {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 1px solid lightblue;
}

.relative {
  position: relative;
  padding: 0;
}

/* Shiney button */
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.btn {
  color: var(--color-contrast);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-xs) var(--padding-md);

  margin-bottom: 0;
  font-size: var(--font-size-sm);
  font-weight: 800;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;

  max-width: 70vw;
}

.btn:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: var(--button-width-md);
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(-10);
  transition: none;
}

.btn:hover {
  background-color: var(--color-accent);
  border-bottom: 4px solid darken(var(--color-accent), 10%);
}
.btn-inv:hover {
  color: var(--color-contrast);
}

.btn:hover:before {
  transform: skewX(-45deg) translateX(35em);
  transition: all 1.2s ease-in-out;
}
/* Shiney button End*/

/* Scroll bar */

::-webkit-scrollbar {
  width: var(--scroll-progress-sm);
  background-color: var(--color-main-dark);
}

::-webkit-scrollbar-track {
  background-color: var(--color-contrast-light);

  border-bottom-right-radius: var(--radius-curve-md);
  border-top-left-radius: var(--radius-curve-md);
}

::-webkit-scrollbar-thumb {
  border-bottom-right-radius: var(--radius-curve-md);
  border-top-left-radius: var(--radius-curve-md);
  box-shadow: 0 0 18px -5px var(--color-shadow-dark);
  background-color: var(--color-main);
}

/* Scroll bar End*/

.section-heading-container {
  width: var(--filling-w-md);
  padding: var(--padding-xs) var(--padding-md);
  margin: 0 0 0 var(--padding-sm);
}

.section-heading-container-subtitle {
  width: var(--filling-w-md);
  padding: var(--padding-xxs) 0 var(--padding-xxs) var(--padding-md);
  margin: 0 0 0 var(--padding-sm);
}

.feature-skill-container {
  width: var(--filling-w-sm);
  padding: var(--padding-xs) var(--padding-sm);
}

hr {
  width: 60vw;
  margin: 0 auto;
}

.bg-primary {
  background: radial-gradient(
    circle at bottom,
    var(--color-main),
    var(--color-main-dark)
  );
}

.bg-primary-top {
  background: radial-gradient(
    circle at top,
    var(--color-main),
    var(--color-main-dark)
  );
}

.bg-accent-top {
  background: radial-gradient(
    circle at top,
    var(--color-main),
    var(--color-accent)
  );
}

.bg-primary-light {
  background: radial-gradient(
    circle at bottom,
    var(--color-main-light),
    var(--color-main)
  );
}

.bg-secondary {
  background: radial-gradient(
    circle at bottom,
    var(--color-secondary),
    var(--color-main-dark)
  );
}

.bg-secondary-top {
  background: radial-gradient(
    circle at top,
    var(--color-main),
    var(--color-secondary)
  );
}

.bg-teritary {
  background: radial-gradient(
    circle at bottom,
    var(--color-main),
    var(--color-teritary)
  );
}

.bg-teritary-top {
  background: radial-gradient(
    circle at top,
    var(--color-teritary),
    var(--color-main)
  );
}

.brand {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

  
p {
  font-size: var(--font-size-sm);
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
    margin: 0;
    align-items: flex-start;
    min-height: 5vh;
    background-color: var(--color-main-light);
  }

  .navbar-header {
    width: 12vw;
    min-height: 5vh;
  }

  /* .navbar-menu,
  .navbar-nav,
  .navbar-nav li {
    min-height: 5vh;
  } */

  .navbar-nav li a {
    font-size: var(--font-size-xs);
    width: 22vw;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    padding: var(--padding-xs);
  }

  .navbar-nav li a:hover {
    padding: var(--padding-xxs);
  }

  section,
  .section {
    min-height: 100vh;
  }

  .section-heading-container {
    min-width: 60vw;
    margin: 0 auto;
  }

  header {
    min-height: 100vh;
    max-height: 100vh;
  }

  .header-content {
    padding: calc(var(--filling-h-sm) * 2) 0 0 0;
  }

  .header-content svg {
    max-height: 30vw;
    max-width: 60vw;
    margin: auto;
  }

  .header-content h1 {
    margin: 0;
    font-size: 1.3em;
  }

  .parallax-skills {
    min-height: 150vh;
    max-height: 150vh;
  }
  #skills {
    min-height: 150vh;
    max-height: 150vh;
  }

  #services {
    min-height: 150vh;
  }

  #services .col-md-6 {
    width: 60vw;
  }

  #services .col-md-6:not(:first-child) {
    padding: var(--padding-sm) 0 0 0;
  }

  #contact h3:not(:first-child) {
    padding: var(--padding-sm) 0;
  }

  .container {
    justify-content: space-between;
    padding: var(--padding-lg) var(--padding-sm);
  }

  .container .description > *:not(hr) {
    margin: var(--padding-sm) 0;
  }

  .shape-leaf {
    padding: var(--padding-xs) var(--padding-md);
  }

  .shape-leaf-inv {
    padding: var(--padding-xs) var(--padding-md);
  }

  .feature-skill-container {
    width: var(--filling-w-md);
    padding: var(--padding-xs) var(--padding-sm);
  }

  .offset-left {
    left: -15vw;
  }
  .offset-right {
    left: 15vw;
  }

  .fa-3x {
    font-size: 3em;
  }

  .contact-link a {
    box-sizing: border-box;
    min-width: 70vw;
    max-width: 70vw;
  }
}
